/* Light Mode Styles */
body.light-mode {
  background-color: #fff;
  color: #000; /* Set text color to black in light mode */
}

.container.bg-info {
  background-color: #17a2b8;
}

.container.bg-secondary {
  background-color: #6c757d;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #000; /* Set text color to black in the default body */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  color: #000; /* Set text color to black for container content */
}

h1 {
  font-size: 24px;
  color: #fff; /* Set text color to white for h1 */
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Use fractions for grid layout */
  grid-gap: 10px;
  margin: 20px auto;
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  background-color: #f0f0f0;
  cursor: pointer;
  color: #000; /* Set text color to black for cell content */
  overflow: hidden;
}

#message {
  margin: 20px;
  font-size: 18px;
  color: #fff; /* Set text color to white for message content */
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #121212;
  color: #fff; /* Set text color to white in dark mode */
}

.custom-switch .custom-control-label::before {
  background-color: #007bff;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Customize the toggle switch background color for both "on" and "off" states */
.custom-control.custom-switch .custom-control-label::before {
  background-color: #fff; /* Background color for the "off" state */
}

.custom-control.custom-switch
  .custom-control-input:checked
  ~ .custom-control-label::before {
  background-color: #000; /* Background color for the "on" state */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  h1 {
    font-size: 18px; /* Adjust font size for smaller screens */
  }

  .cell {
    width: 70px; /* Adjust cell width for smaller screens */
    height: 70px; /* Adjust cell height for smaller screens */
    font-size: 24px; /* Adjust font size for smaller screens */
  }

  #message {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .container {
    height: 100vh; /* Set container height to cover the entire viewport */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Push content to the top and bottom */
    border-radius: 0; /* Remove rounded corners */
  }

  /* Add other style adjustments for smaller screens */
}
